html {
  height: 100%;
}
body {
  /*the outer layer of the site and global style attributes*/
  font-family: "Lato", "Museo Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 0;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

.clear {
  clear: both;
}

.img-scaled {
  width: 100%;
}

.img-scaled-wh {
  width: 100%;
  height: 100%;
}

.img-scaled-h {
  height: 100%;
}

#action {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 15px;
  transition: linear 0.5s;
  margin-top: -35px;
  opacity: 0;
}
.action-item {
  cursor: pointer;
}
.action-item-icon {
  width: 20px;
  float: left;
}
.action-item:nth-child(1) .action-item-icon {
  padding-left: 18px;
}
.action-item:nth-child(2) {
  border-top: 3px solid rgba(120, 194, 114, 0.3);
  padding-top: 10px;
  margin-top: 10px;
}
.aciton-item-caption {
  float: left;
  color: #78c272;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 5px;
  text-transform: uppercase;
}

/* SLIDES */

#viewport {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(0px);
}
.content-about {
  transform: translateY(-100%);
}
.content-curriculum {
  transform: translateY(-200%);
}
.content-schedule {
  transform: translateY(-300%);
}
.content-instructors {
  transform: translateY(-400%);
}
#about {
  background: white;
}
#curriculum {
  background: #e2e5e9;
}
#schedule {
  background: #4c5765;
  position: relative;
}
#schedule-wrapper {
  background-image: url("../icons/inspiration-geometry.png");
}
.slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide-overlay {
  background-image: url("../icons/inspiration-geometry.png");
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.slide-caption-container {
  width: 960px;
  left: calc(50% - 480px);
  position: absolute;
  bottom: 300px;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.slide-active .slide-caption-container {
  opacity: 1;
}

.slide-caption {
  float: right;
  transform: rotate(-90deg) translateY(96px);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #818892;
  opacity: 0.48;
}

#curriculum .slide-caption {
  -webkit-transform: rotate(-90deg) translateY(150px);
}

#instructor .slide-caption {
  -webkit-transform: rotate(-90deg) translateY(155px);
}

/* BANNER */

#banner {
  background-color: #de6868;
  color: white;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  text-align: center;
}

#banner-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Lato;
  padding: 5px 10px;
  position: absolute;
  top: 7px;
  right: 20px;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
}

.banner-hidden {
  display: none;
}

/* COVER */

#cover {
  height: 100%;
  position: relative;
}
#cover-header {
  background: #4c5765;
  height: 70%;
  position: relative;
}
#cover-footer {
  height: 30%;
  background: white;
}
#cover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}
#cover-content {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -190px;
}
#cover-heading {
  color: white;
  font-size: 36px;
  font-weight: 300;
}
#cover-subheading {
  margin: 15px 0 25px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.cover-action-item {
  background: white;
  color: #2f353f;
  display: inline-block;
  padding: 12px 25px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-left: 15px;
}
.cover-action-item:nth-child(1) {
  margin-left: 0;
}
#cover-action-portal {
  background: white;
  color: #6392c0;
}
#cover-action-apply {
  background: white;
  color: #de6868;
}
#cover-action-live {
  background: #de6868;
  color: white;
}

/* FAQ */

#faq {
  background: #e2e5e9;
  color: #4c5765;
  padding: 90px 0;
  height: auto;
}

#faq-header {
  text-align: center;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

#faq-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #818892;
}

#faq-subtitle {
  font-size: 18px;
  opacity: 0.6;
}

#faq-contact {
  padding-top: 24px;
  margin-top: 24px;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

#faq-contact-caption {
  font-size: 14px;
  opacity: 0.6;
}

#faq-contact-action {
  background: white;
  border-radius: 2px;
  display: inline-block;
  padding: 9px 15px;
  margin-top: 12px;
}

#faq-contact-action-icon {
  width: 24px;
  float: left;
}

#faq-contact-action-caption {
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #6392c0;
  line-height: 24px;
  margin-left: 9px;
}

#faq-contact::before {
  content: "";
  width: 36px;
  height: 4px;
  background: rgba(76, 87, 101, 0.18);
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 18px);
}

#faq-content {
  width: 960px;
  margin: 0 auto;
  margin-top: 48px;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.faq-active #faq-header,
.faq-active #faq-contact,
.faq-active #faq-content {
  opacity: 1;
}

.faq-item {
  border: 3px solid rgba(255, 255, 255, 0.72);
  border-radius: 2px;
  width: 304px;
  position: relative;
  margin-bottom: 15px;
}

.faq-item-header {
  padding: 6px;
  background: rgba(255, 255, 255, 0.72);
}

.faq-item-header-dot {
  float: left;
  background: rgba(129, 136, 146, 0.36);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 4px;
}

.faq-item-header-dot:nth-child(1) {
  background: #de6868;
}

.faq-item-header-dot:nth-child(2) {
  background: #febe10;
}

.faq-item-header-dot:nth-child(3) {
  background: #78c272;
}

.faq-item-content {
  background: #e2ebf3;
  padding: 12px;
}

.faq-item-question {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(99, 146, 192, 0.72);
}

.faq-item-answer {
  background: white;
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #818892;
  border-radius: 2px;
  position: relative;
  margin-top: 15px;
}

.faq-item-answer::before {
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: -8px;
  left: 24px;
}

/* APPLY */

#apply {
  background: #e2e5e9;
}

#apply-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
}

#apply-footer {
  position: absolute;
  bottom: 0;
  height: 180px;
  width: 100%;
  background: #4c5765;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(240px);
  text-align: center;
  color: white;
}
#apply-header {
  height: 599px;
  background: #6392c0;
  position: relative;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(-100%);
}
.apply-active #apply-footer,
.apply-active #apply-header {
  transform: translateY(0px);
}
#apply-hero {
  position: absolute;
  color: white;
  font-size: 27px;
  font-weight: 700;
  line-height: 45px;
  top: 50%;
  margin-top: -90px;
}
#apply-content {
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.apply-hero-line:nth-child(1) {
  opacity: 0.6;
  font-weight: 700;
}
#apply-hero-deemph {
  opacity: 0.6;
}
.apply-hero-line u {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
#apply-action {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -134px;
}
.apply-action-item {
  background: white;
  padding: 20px;
  width: 240px;
  border-radius: 3px;
}
.apply-action-item-caption {
  font-size: 24px;
  font-weight: 300;
  color: #818892;
  margin-bottom: 20px;
  text-align: center;
}
.apply-action-item-button {
  text-align: center;
  padding: 10px 0;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 700;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  transition: linear 0.2s;
}
#apply-contact {
  margin-top: 10px;
}
#apply-submit-button {
  border: 2px solid #de6868;
  color: #de6868;
}
#apply-contact-button {
  border: 2px solid #78c272;
  color: #78c272;
}
#apply-submit-button:hover {
  background: #de6868;
  color: white;
}
#apply-contact-button:hover {
  background: #78c272;
  color: white;
}
#apply-logo {
  position: absolute;
  z-index: 1;
  bottom: 145px;
  width: 100%;
  opacity: 0;
  transition: linear 0.5s;
}
.apply-active #apply-logo {
  opacity: 1;
}
#apply-logo-badge {
  width: 40px;
  padding: 21px 15px;
  background: #78c272;
  border-radius: 50%;
  margin: 0 auto;
}
#apply-footer-heading {
  padding-top: 54px;
  font-size: 36px;
  font-weight: 300;
}
#apply-footer-subheading {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.75;
}

/* WINDOW */

.window-container {
  position: fixed;
  width: 960px;
  height: 540px;
  top: calc(50% - 270px);
  left: calc(50% - 480px);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  overflow: hidden;
  border: 3px solid #818892;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  transform: translateY(0px);
  z-index: 1;
}
.window-container-active {
  top: 50%;
  margin-top: -270px;
}
.window-container-scaled {
  transform: scale(0.6);
}
.window-container-inactive {
  transform: translateY(1000px) scale(0.6);
  opacity: 0;
}
.window-container-hidden {
  transform: scale(0.6) translateY(-200%);
  opacity: 0;
}
.window {
  position: relative;
  width: 100%;
  height: calc(100% - 24px);
}
.window-content {
  position: absolute;
  top: 0;
  background: white;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;
}
.window-flip {
  transform: rotateY(180deg);
}
#window-cover {
  display: block;
  z-index: 0;
  height: 100%;
}
#window-header {
  padding: 8px 0 8px 8px;
  background: #818892;
}
.window-header-dot {
  width: 8px;
  height: 8px;
  float: left;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 5px;
  border-radius: 50%;
}
.window-header-caption {
  float: left;
  color: rgba(255, 255, 255, 0.75);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 8px;
  margin-left: 12px;
}

.window-hidden {
  display: none;
}
.window-front,
.window-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 3px solid #818892;
  border-radius: 2px;
}
.window-front,
.window-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.window-front {
  background: #f7f5f2;
}
.window-back {
  transform: rotateY(180deg);
  background: white;
}

/* WINDOW - DEMO */
#window-about {
  min-height: 100%;
  background: white;
  z-index: 1;
  -webkit-transform: translateY(100%);
}
.window-active-about #window-about {
  -webkit-transform: translateY(0%);
  opacity: 1;
}
#window-cover {
  opacity: 1;
}
#window-cover .window-demo-header {
  height: 360px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#window-cover .window-demo-header-background {
  width: 100%;
  position: absolute;
  z-index: 0;
}
#window-cover .window-demo-header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.85;
  z-index: 1;
}
#window-cover .window-demo-nav {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
}
#window-cover .window-demo-nav-icon {
  width: 20px;
  float: left;
}
#window-cover .window-demo-nav-caption {
  float: left;
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
  line-height: 20px;
}
#window-cover .window-demo-header-content {
  position: absolute;
  z-index: 3;
  color: white;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}
#window-cover .window-demo-header-heading {
  font-size: 20px;
  font-weight: 300;
}
#window-cover .window-demo-header-subheading {
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0 15px 0;
  opacity: 0.8;
}
#window-cover .window-demo-header-action {
  padding: 8px 15px;
  background: white;
  font-size: 10px;
  font-weight: 700;
  color: #2f353f;
  display: inline-block;
  border-radius: 3px;
}
#window-cover .window-demo-bar {
  position: relative;
  z-index: 5;
  width: 100%;
  background: white;
  padding: 15px 0;
  box-shadow: 0 0 5px #edeae5;
}
#window-cover .window-demo-bar-logo {
  width: 15px;
  float: left;
  background: #757c78;
  padding: 5px;
  border-radius: 50%;
}
.window-cover-bar-item {
  float: right;
  margin-right: 20px;
}
#window-cover .window-demo-bar-content {
  width: 540px;
  margin: 0 auto;
}
#window-cover .window-demo-bar-caption {
  float: left;
  font-size: 13px;
  line-height: 25px;
  color: #757c78;
  font-weight: 700;
  margin-left: 5px;
}
.window-cover-bar-item-icon {
  width: 20px;
  float: left;
  margin-top: 2px;
}
.window-cover-bar-item-caption {
  float: left;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  color: #757c78;
  margin-left: 5px;
}
#window-cover .window-demo-content {
}
#window-cover .window-demo-content-heading {
  color: #1abc9c;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
#window-cover .window-demo-content-description {
  text-align: center;
  font-size: 12px;
  width: 540px;
  margin: 0 auto;
}
#window-cover .window-demo-background {
  width: 100%;
  height: 240px;
  position: absolute;
}
#window-cover .window-demo-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    top,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  position: absolute;
  top: 0;
}
#window-cover .window-demo-title {
  padding-top: 90px;
  position: relative;
  color: white;
  font-size: 36px;
  font-weight: 300;
}
#window-cover .window-demo-canvas {
  background: white;
  width: 480px;
  margin: 0 auto;
  margin-top: -120px;
  position: relative;
  border-radius: 3px;
  padding: 20px 0;
}
#window-cover .window-demo-subtitle {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 10px;
  font-size: 24px;
  font-weight: 300;
}
#window-cover .window-demo-content-info {
  padding: 15px 0;
}
#window-cover .window-demo-content-info-thumbnail {
  background: #6392c0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#window-cover .window-demo-content-info-thumbnail img {
  position: absolute;
  opacity: 0.3;
  width: 24px;
  top: 6px;
  left: 3px;
}
#window-cover .window-demo-content-info-author {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
  opacity: 0.5;
}
#window-cover .window-demo-content-article {
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
}

#window-schedule {
  -webkit-perspective: 2000;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 2000;
  -moz-perspective-origin: 50% 50%;
  overflow: hidden;
  width: 100%;
  height: 515px;
  transition: linear 0.5s;
  z-index: 3;
  transform: translateY(515px);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.window-active-schedule #window-schedule {
  transform: translateY(0px);
  opacity: 1;
  height: 100%;
}

.window-demo-container {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  height: 515px;
}

.window-schedule-1 {
  font-family: "Times New Roman";
}
.window-schedule-1 .window-demo-background {
  display: none;
}
.window-schedule-1 .window-demo-overlay {
  display: none;
}
.window-schedule-1 .window-demo-content-info {
  display: none;
}

.window-schedule-2 .window-demo-title {
  font-size: 36px;
  font-weight: 700;
}
.window-schedule-2 .window-demo-subtitle {
  font-size: 24px;
}
.window-schedule-2 .window-demo-content-info {
  display: block;
}
.window-schedule-2 .window-demo-content-info-thumbnail {
  display: none;
}
.window-schedule-2 .window-demo-content-info-author {
  font-style: italic;
}

.window-schedule-3 .window-demo-header {
  padding: 20px 20px 0 20px;
}
.window-schedule-3 .window-demo-subtitle {
  margin-top: 10px;
}
.window-schedule-3 .window-demo-content {
  padding: 0 20px;
}
.window-schedule-3 .window-demo-content-article {
  line-height: 24px;
}
.window-schedule-3 .window-demo-content-info {
  padding: 15px 0;
}

.window-schedule-4 {
  font-family: "Lato";
}
.window-schedule-4 .window-demo-background {
  display: block;
  width: 300px;
  margin-top: 20px;
}
.window-schedule-4 .window-demo-title {
  font-weight: 300;
}

.window-schedule-5 .window-demo-header {
  padding: 0;
  height: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.window-schedule-5 .window-demo-background {
  width: 100%;
  margin: 0;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
}
.window-schedule-5 .window-demo-title {
  padding-top: 90px;
  position: relative;
  z-index: 1;
}
.window-schedule-5 .window-demo-subtitle {
  position: relative;
  z-index: 1;
}
.window-schedule-5 .window-demo-canvas {
  text-align: center;
}

.window-schedule-6 .window-demo-container {
  background: #edeae5;
}
.window-schedule-6 .window-demo-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    top,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}
.window-schedule-6 .window-demo-title {
  color: white;
}
.window-schedule-6 .window-demo-subtitle {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}
.window-schedule-6 .window-demo-content-info-author {
  opacity: 0.5;
}
.window-schedule-6 .window-demo-content-article {
  color: #4a4a4a;
}

.window-schedule-8 .window-demo-canvas {
  background: white;
  width: 480px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  border-radius: 3px;
  margin-top: -120px;
  padding: 20px 0;
}
.window-schedule-8 .window-demo-header {
  height: 360px;
}
.window-schedule-8 .window-demo-content-info-author {
  font-style: normal;
}
.window-schedule-8 .window-demo-content-info-thumbnail {
  display: block;
  background: #6392c0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.window-schedule-8 .window-demo-content-info-thumbnail img {
  opacity: 0.3;
  position: absolute;
  width: 24px;
  top: 6px;
  left: 3px;
}
.window-schedule-8 .window-demo-content-article {
  padding: 0 20px;
}
.window-schedule-8 .window-demo-content-info-author {
  font-size: 12px;
  margin-top: 6px;
}

.window-min {
  width: 480px;
  left: calc(50% - 240px);
}
.window-schedule-10 .window-demo-canvas {
  width: 400px;
}

.window-schedule-11 {
  background: #bfc3c8;
}

.window-schedule-11 .window-demo-container {
  transform: rotateX(50deg) translateY(90px);
}
.window-schedule-12 {
  background: white;
}
.window-schedule-12 .window-demo-container {
  transform: rotateX(0deg) translateY(0px);
}

#window-demo-prototype {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  opacity: 0;
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.window-schedule-9 #window-demo-prototype {
  opacity: 1;
}

.window-schedule-10 #window-demo-prototype {
  opacity: 0;
}

#window-demo-prototype-header {
  background: #4c5765;
  height: 360px;
}

#window-demo-prototype-title {
  top: 90px;
  background: rgba(255, 255, 255, 0.24);
  position: relative;
  width: 400px;
  margin: 0 auto;
  height: 36px;
  border-radius: 2px;
}

#window-demo-prototype-subtitle {
  background: rgba(255, 255, 255, 0.24);
  width: 720px;
  height: 24px;
  margin: 0 auto;
  position: relative;
  top: 108px;
  border-radius: 2px;
}

#window-demo-prototype-content {
  background: #edeae5;
  height: 160px;
}

#window-demo-prototype-canvas {
  width: 440px;
  margin: 0 auto;
  background: white;
  position: relative;
  top: -120px;
  min-height: 240px;
  padding: 20px;
  z-index: 5;
}

#window-demo-prototype-thumbnail {
  background: #6392c0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 50%;
}

#window-demo-prototype-author {
  background: rgba(129, 136, 146, 0.24);
  width: 200px;
  margin: 0 auto;
  margin-top: 8px;
  height: 10px;
  border-radius: 2px;
  margin-bottom: 25px;
}

.window-demo-prototype-line {
  width: 100%;
  height: 10px;
  background: rgba(129, 136, 146, 0.24);
  margin: 0 auto;
  margin-bottom: 14px;
  border-radius: 2px;
}

.window-demo-prototype-line:nth-child(2n) {
  width: 90%;
}

.window-demo-modal {
  position: absolute;
  font-family: "Lato";
  color: white;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -100px;
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(515px);
  z-index: 11;
}
#window-demo-modal-group .window-demo-modal-content {
  background: #78c272;
}
#window-demo-modal-extra .window-demo-modal-content {
  background: #de6868;
}
#window-demo-modal-final .window-demo-modal-content {
  background: #6392c0;
}
.window-demo-modal-caption {
  font-size: 36px;
  font-weight: 300;
  margin-top: 10px;
}
.window-demo-modal-icon {
  width: 90px;
  margin: 0 auto;
}
.window-demo-modal-content {
  display: inline-block;
  padding: 30px;
  border-radius: 5px;
  width: 425px;
}
#window-demo-modal-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: linear 0.3s;
}

.window-schedule-7 #window-demo-modal-group {
  transform: translateY(0px);
}
.window-schedule-7 #window-demo-modal-overlay {
  opacity: 1;
}
.window-schedule-8 #window-demo-modal-group {
  transform: translateY(-515px);
}
.window-schedule-8 #window-demo-modal-overlay {
  opacity: 0;
}
.window-schedule-12 #window-demo-modal-overlay {
  opacity: 1;
}
.window-schedule-12 #window-demo-modal-final {
  transform: translateY(0px);
}

#window-apply {
  z-index: 5;
}

/* WINDOW - ABOUT */

#about-heading {
  color: #de6868;
  font-size: 36px;
  font-weight: 300;
  padding: 30px;
  padding-bottom: 0;
}
#about-content {
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
}
#about-panel {
  border-top: 3px solid #de6868;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.about-panel-item {
  width: 318px;
  float: left;
  border-right: 3px solid #de6868;
}
.about-panel-icon {
  width: 50px;
  height: 50px;
  float: left;
  padding: 20px;
}
.about-panel-info {
  float: left;
  padding: 15px 0;
  color: #de6868;
}
.about-panel-label {
  font-size: 12px;
  font-weight: 700;
  padding-left: 2px;
}
.about-panel-content {
  font-size: 32px;
  font-weight: 300;
}
.about-panel-item:nth-child(3) {
  border: none;
}

/* WINDOW - CURRICULUM */

.curriculum-item {
  float: left;
  width: 400px;
  padding: 30px;
  position: relative;
  height: 460px;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
#curriculum-design {
  padding-right: 50px;
  color: #78c272;
  text-align: left;
  -webkit-transform: translateX(-480px);
}
#curriculum-programming {
  padding-left: 50px;
  color: #6392c0;
  text-align: right;
  -webkit-transform: translateX(480px);
}
.window-active-curriculum #window-curriculum {
  opacity: 1;
}
.window-active-curriculum #curriculum-design,
.window-active-curriculum #curriculum-programming {
  -webkit-transform: translateX(0px);
}
#divider {
  width: 3px;
  height: 100%;
  position: absolute;
  background: #818892;
  left: 479px;
}
#window-curriculum {
  position: relative;
  background: white;
  height: 100%;
  z-index: 2;
}
#divider-caption {
  position: absolute;
  background: white;
  font-size: 16px;
  text-transform: uppercase;
  color: #818892;
  padding: 10px;
  left: -32px;
  top: 36px;
}
.curriculum-heading {
  font-size: 36px;
  font-weight: 300;
}
.curriculum-content {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  z-index: 1;
  margin-top: 24px;
}
.curriculum-watermark {
  position: absolute;
  bottom: -40px;
  right: 0;
  z-index: 0;
  opacity: 0.15;
}
#curriculum-design .curriculum-watermark {
  right: 30px;
  width: 300px;
}
#curriculum-programming .curriculum-watermark {
  left: 30px;
  bottom: -80px;
  width: 360px;
}

/* WINDOW - SCHEDULE */

.schedule-item {
  width: 100%;
  height: 330px;
}
.schedule-container {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.schedule-week {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -165px;
  width: 200px;
  text-align: right;
  color: white;
}
.schedule-content {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -165px;
  width: 200px;
}
.schedule-week-label {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.5;
  padding-right: 2px;
}
.schedule-week-title {
  margin-top: 9px;
  font-size: 36px;
  font-weight: 300;
}
.schedule-section {
  padding: 12px;
  color: white;
  border-radius: 3px;
}
.schedule-section-design {
  background: #78c272;
}
.schedule-section-label {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.6;
}
.schedule-section-title {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.schedule-section-programming {
  background: #6392c0;
  margin-top: 10px;
}

/* WINDOW - INSTRUCTORS */

#window-instructor {
  background: #e2ebf3;
  height: 100%;
  width: 100%;
  z-index: 4;
  -webkit-transform: translateY(100%);
}

.window-active-instructor {
  height: 515px !important;
}

.window-active-instructor #window-instructor {
  transform: translateY(0px);
  opacity: 1;
}

#window-instructor-content {
  width: calc(100% - 276px);
  padding: 18px;
  height: calc(100% - 36px);
  float: left;
}

.window-instructor-info {
  width: 140px;
  float: left;
  text-align: right;
  color: #6392c0;
}

.window-instructor-popover {
  float: left;
  width: calc(100% - 200px);
  background: white;
  margin-left: 24px;
  padding: 15px;
  font-size: 13px;
  line-height: 24px;
  position: relative;
  color: #818892;
  border-radius: 2px;
}

.window-instructor-thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  float: right;
}

.window-instructor-section {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.6;
  margin-top: 8px;
  margin-bottom: 4px;
}

.window-instructor-name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.window-instructor-popover::before {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
  position: absolute;
  left: -8px;
  top: 23px;
}

.window-instructor-item:nth-child(2) .window-instructor-popover {
  margin-left: 0;
  margin-right: 24px;
}

.window-instructor-item:nth-child(2) .window-instructor-popover::before {
  border-right: none;
  border-left: 8px solid white;
  left: auto;
  right: -8px;
}

.window-instructor-item:nth-child(4) .window-instructor-popover {
  margin-left: 0;
  margin-right: 24px;
}

.window-instructor-item:nth-child(4) .window-instructor-popover::before {
  border-right: none;
  border-left: 8px solid white;
  left: auto;
  right: -8px;
}

.window-instructor-item {
  margin-top: 18px;
}

.window-instructor-item:nth-child(1) {
  margin: 0;
}

.window-instructor-item:nth-child(2) .window-instructor-info {
  text-align: left;
}

.window-instructor-item:nth-child(2) .window-instructor-thumbnail {
  float: left;
}

.window-instructor-item:nth-child(4) .window-instructor-info {
  text-align: left;
}

.window-instructor-item:nth-child(4) .window-instructor-thumbnail {
  float: left;
}

.window-instructor-link-item {
  width: 12px;
  float: right;
  padding: 4px;
  border: 2px solid #6392c0;
  border-radius: 50%;
  margin-left: 4px;
  cursor: pointer;
}

.window-instructor-item:nth-child(2) .window-instructor-link-item {
  float: left;
  margin-left: 0;
  margin-right: 4px;
}

.window-instructor-item:nth-child(4) .window-instructor-link-item {
  float: left;
  margin-left: 0;
  margin-right: 4px;
}

.window-instructor-link {
  margin-top: 8px;
}

#window-instructor-ta {
  background: white;
  float: right;
  width: calc(240px - 36px);
  height: calc(100% - 36px);
  padding: 18px;
  color: #818892;
}

.window-instructor-ta-link {
  width: 12px;
  padding: 4px;
  border: 2px solid #757c78;
  border-radius: 50%;
  float: right;
  opacity: 0.6;
  margin-top: 6px;
  cursor: pointer;
}

#window-instructor-ta-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

#window-instructor-ta-subtitle {
  font-size: 13px;
  line-height: 18px;
  opacity: 0.72;
  margin-top: 8px;
}

.window-instructor-ta-thumbnail {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgba(129, 136, 146, 0.48);
  float: left;
}

.window-instructor-ta-info {
  float: left;
  margin-left: 10px;
}

.window-instructor-ta-role {
  font-size: 12px;
  margin: 2px 0;
}

#window-instructor-ta-header {
  margin-bottom: 12px;
  border-bottom: 2px solid rgba(129, 136, 146, 0.24);
  padding-bottom: 12px;
}

.window-instructor-ta-item {
  margin-bottom: 12px; /* This margin is different from the mobile size */
}

.window-instructor-ta-name {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
}

/* GUIDE */

#guide {
  position: fixed;
  bottom: 12px;
  text-align: center;
  opacity: 1;
  -webkit-animation: guide-bounce 0.5s alternate infinite;
  left: 50%;
  margin-left: -42px;
}
@-webkit-keyframes guide-bounce /*Safari and Chrome*/ {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-18px);
  }
}

#guide-icon {
  width: 24px;
  margin: 0 auto;
}
#guide-icon svg {
  width: 24px;
  height: 24px;
}
#guide-content {
  display: inline-block;
}
#guide-caption {
  color: #818892;
  font-size: 12px;
  margin-bottom: 6px;
}

/* NAV */

#nav {
  position: fixed;
  top: 0;
  left: 10px;
  height: 100%;
}
#nav-spine {
  background: rgba(129, 136, 146, 0.6);
  width: 8px;
  height: 100%;
  float: left;
}
#nav-content {
  float: left;
  height: 100%;
  position: relative;
  margin-left: 10px;
}
.nav-item {
  color: #818892;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  transition: linear 0.2s;
}
.nav-item:nth-child(1) {
  top: 15px;
}
.nav-item:nth-child(3) {
  top: 40%;
  margin-top: -8px;
}
.nav-item:nth-child(2) {
  top: 20%;
  margin-top: -8px;
}
.nav-item:nth-child(5) {
  bottom: 20%;
}
.nav-item:nth-child(4) {
  bottom: 40%;
  margin-top: -8px;
}
.nav-item:nth-child(6) {
  bottom: 15px;
}
#nav-progress {
  height: 60px;
  position: absolute;
  width: 8px;
  background: #78c272;
  left: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
#nav-progress-arrow {
  border-top: 6px solid transparent;
  border-left: 6px solid #78c272;
  border-bottom: 6px solid transparent;
  position: absolute;
  bottom: 0;
}
#nav-progress-bar {
  width: 6px;
  height: 100%;
  background: #78c272;
  position: absolute;
  left: 12px;
  border-radius: 3px;
}

.nav-item:hover {
  color: #78c272;
  opacity: 1;
}
.nav-active-cover #nav-item-cover,
.nav-active-about #nav-item-about,
.nav-active-curriculum #nav-item-curriculum,
.nav-active-schedule #nav-item-schedule,
.nav-active-instructor #nav-item-instructor,
.nav-active-faq #nav-item-faq {
  color: #78c272;
  opacity: 1;
}
.nav-active-cover #nav-progress {
  height: 5%;
}
.nav-active-about #nav-progress {
  height: 22%;
}
.nav-active-curriculum #nav-progress {
  height: 42%;
}
.nav-active-schedule #nav-progress {
  height: 62%;
}
.nav-active-instructor #nav-progress {
  height: 82%;
}
.nav-active-faq #nav-progress {
  height: 100%;
}

@media all and (max-width: 1200px) {
  .window-container {
    width: 720px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .window-container-scaled {
    left: 50%;
    transform: translateX(-50%) scale(0.6);
  }
  .window-container-active {
    margin-top: -202px;
  }
  .window {
    width: 720px;
    height: 405px;
    transition: 200ms;
  }
  #cover-content {
    margin-top: -155px;
  }
  #cover-heading {
    font-size: 32px;
  }
  #cover-subheading {
    font-size: 16px;
  }
  .cover-action-item {
    padding: 10px 20px;
    font-size: 12px;
  }
  #cover-action-live {
    margin-left: 10px;
  }
  #about-heading {
    font-size: 27px;
    padding: 20px;
    padding-bottom: 0;
  }
  #about-content {
    font-size: 13px;
    padding: 0 20px;
  }
  .about-panel-item {
    width: 177px;
  }
  .about-panel-item:nth-child(4) {
    width: 180px;
  }
  .about-panel-icon {
    width: 25px;
    height: 25px;
  }
  .about-panel-label {
    font-size: 10px;
  }
  .about-panel-content {
    font-size: 20px;
  }
  .curriculum-item {
    padding: 20px;
    width: 300px;
    height: 340px;
  }
  #curriculum-programming {
    padding-left: 40px;
  }
  #curriculum-design {
    padding-right: 40px;
  }
  .curriculum-heading {
    font-size: 24px;
  }
  .curriculum-content {
    font-size: 12px;
    line-height: 24px;
  }
  #divider {
    left: 363px;
  }
  #divider-caption {
    font-size: 13px;
    font-weight: 700;
  }
  #curriculum-design .curriculum-watermark {
    width: 200px;
    right: 20px;
    bottom: -30px;
  }
  #curriculum-programming .curriculum-watermark {
    left: 20px;
    width: 240px;
    bottom: -50px;
  }
  .schedule-container {
    width: 880px;
  }
  .schedule-item {
    height: 247px;
  }
  .schedule-week {
    margin-top: -123px;
  }
  .schedule-content {
    margin-top: -123px;
  }
  .window-schedule-2 .window-demo-title {
    font-size: 32px;
  }
  .window-schedule-3 .window-demo-header {
    padding: 15px 15px 0 15px;
  }
  .window-schedule-4 .window-demo-background {
    width: 200px;
    margin-top: 15px;
  }
  .window-schedule-5 .window-demo-background {
    width: 100%;
    margin: 0;
  }
  .window-schedule-5 .window-demo-header {
    height: 200px;
  }
  .window-schedule-5 .window-demo-title {
    padding-top: 55px;
  }
  .window-demo-modal-content {
    padding: 20px;
  }
  .window-demo-modal-icon {
    width: 70px;
  }
  .window-demo-modal-caption {
    font-size: 32px;
  }
  .window-demo-modal {
    margin-top: -80px;
  }
  .window-demo-container {
    height: 380px;
  }
  .window-schedule-8 .window-demo-canvas {
    margin-top: -40px;
  }
  #window-schedule {
    height: 380px;
  }
  .window-min {
    width: 480px;
  }
  .window-schedule-9 .window-demo-canvas {
    width: 360px;
    margin-top: -20px;
  }
  #window-instructors {
    height: 341px;
    padding: 20px;
  }

  #window-instructor-content {
    height: auto;
    width: 684px;
  }
  .window-instructor-info {
    width: 115px;
  }
  .window-instructor-popover {
    width: calc(100% - 180px);
  }

  .window-instructor-thumbnail {
    width: 60px;
    height: 60px;
  }
  .window-instructor-popover-content {
    padding: 10px;
  }
  #window-instructor-ta {
    width: 276px;
    padding: 10px;
  }
  #window-instructor-ta-heading {
    font-size: 16px;
  }
  .window-instructor-popover-content-stub {
    display: none;
  }
  .window-instructor-ta-thumbnail {
    width: 30px;
    height: 30px;
  }
  .window-instructor-ta-name-text {
    font-size: 11px;
  }
  .window-instructor-ta-name {
    width: 55px;
    top: -33px;
  }
  .window-instructor-info {
    margin-left: 10px;
  }
  .window-instructor-name {
    font-size: 12px;
  }
  .window-instructor-section {
    font-size: 12px;
  }
  #window-instructor-andy .window-instructor-info {
    margin-right: 10px;
    padding-top: 64px;
  }
  #window-instructor-andy {
    margin-top: 24px;
  }
  .window-instructor-contact-item {
    width: 12px;
    padding: 6px;
  }
  .window-instructor-contact {
    margin-top: 8px;
  }
  #apply-content {
    width: 720px;
  }
  .apply-action-item {
    padding: 15px;
    width: 180px;
  }
  .apply-action-item-caption {
    font-size: 20px;
  }
  .apply-action-item-button {
    width: 120px;
    padding: 8px 0;
    font-size: 12px;
  }
  #apply-action {
    margin-top: -109px;
  }
  #apply-hero {
    font-size: 24px;
  }
  .apply-action-item-caption {
    margin-bottom: 15px;
  }
}
