html {
    height: 100%;
}
body {    /*the outer layer of the site and global style attributes*/
    font-family: "Lato", "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

.clear {
    clear: both;
}

.img-scaled {
    width: 100%;
}

.img-scaled-wh {
    width: 100%;
    height: 100%;
}

.img-scaled-h {
    height: 100%;
}

/* BACKGROUND */

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #4c5765;
}
#background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(http://www.transparenttextures.com/patterns/inspiration-geometry.png);
    opacity: 0.5;
}

/* HEADER */

#header {
    position: fixed;
    width: calc(100% - 60px);
    padding: 20px 0;
    margin: 0 30px;
    color: white;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
}
#header-title {
    float: left;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}
.viewer-active #header-title {
    opacity: 0;
}
#header-logo {
    height: 27px;
    float: left;
}
#header-name {
    float: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 27px;
    margin-left: 10px;
}
#header-page {
    float: left;
    font-size: 20px;
    line-height: 27px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.75);
}
#header-back-arrow {
    width: 24px;
    float: left;
    opacity: 0.5;
    margin-top: 3px;
}
#header-back {
    position: absolute;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}
.viewer-active #header-back {
    opacity: 0.6;
}
.viewer-active #header-back:hover {
    opacity: 1;
}
#header-back-icon {
    width: 24px;
    float: left;
    margin-top: 3px;
}
#header-back-caption {
    float: left;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    margin-left: 12px;
}
#header-nav {
    float: right;
}
.header-nav-item {
    float: left;
    line-height: 27px;
    font-size: 16px;
    font-weight: 300;
    margin: 0 15px;
    opacity: 0.6;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    cursor: pointer;
}
.header-nav-item-active, .header-nav-item:hover {
    opacity: 1;
}

/* PANEL */

.panel {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 90px);
    margin: 0 30px;
    background: rgba(255, 255, 255, 0.75);
    padding: 12px;
    border-radius: 3px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    opacity: 0;
    display: none;
}
.viewer-active .panel {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    opacity: 1;
}
.panel-item {
    float: left;
    margin-left: 24px;
}
.panel-thumbnail {
    width: 30px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.panel-name {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 3px;
}
.panel-item:nth-child(1) {
    margin: 0;
}
.panel-nav {
    position: absolute;
    width: 30px;
    top: 50%;
    margin-top: -15px;
    opacity: 0.5;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    cursor: pointer;
}
#panel-content {
    margin: 0 40px;
}
#panel-nav-left {
    left: 12px;
}
#panel-nav-right {
    right: 12px;
}
.panel-nav:hover {
    opacity: 1;
}

/* VIEWER */

.viewer {
    position: absolute;
    height: calc(100% - 230px);
    width: calc(100% - 60px);
    top: 100px;
    left: 30px;
    display: none;
}
#viewer-selector {
    width: 360px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(calc(360px + 30px));
    -webkit-transform: translateX(calc(360px + 30px));
    -moz-transform: translateX(calc(360px + 30px));
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
}
.viewer-active #viewer-selector {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}
.viewer-selector-item {
    width: 175px;
    height: 120px;
    float: left;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.viewer-selector-item:nth-child(2n) {
    margin-left: 10px;
}
.viewer-selector-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    opacity: 1;
}
.viewer-selector-item:hover .viewer-selector-overlay {
    opacity: 0;
}
.viewer-selector-thumbnail {
    width: 100%;
    height: 100%;
}
#viewer-theater {
    margin-right: 370px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    height: 100%;
    transform: translateX(calc(-100% - 30px));
    -webkit-transform: translateX(calc(-100% - 30px));
    -moz-transform: translateX(calc(-100% - 30px));
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
}
.viewer-active #viewer-theater {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}
#viewer-theater-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
}
#viewer-theater-info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: white;
    width: calc(100% - 48px);
    padding: 12px;
    border-radius: 3px;
    color: #4c5765;
}
#viewer-theater-info-head {
    float: left;
    width: 36px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
    margin-top: 6px;
}
.viewer-theater-info-link {
    float: right;
    border-radius: 3px;
    margin-left: 12px;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
}
#viewer-theater-info-content {
    float: left;
    margin-left: 12px;
}
#viewer-theater-info-name {
    font-size: 24px;
    margin-bottom: 6px;
}
#viewer-theater-info-major {
    font-size: 16px;
    opacity: 0.6;
}
.viewer-theater-info-link-icon {
    width: 18px;
    float: left;
}
.viewer-theater-info-link-caption {
    color: white;
    float: left;
    margin-left: 6px;
    font-size: 12px;
    line-height: 18px;
}
#viewer-theater-info-email {
    background: #6392c0;
}
#viewer-theater-info-resume {
    background: #78c272;
}
#viewer-theater-action {
    position: absolute;
    top: calc(50% - 55px);
    width: 120px;
    left: calc(50% - 60px);
    opacity: 0.4;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    cursor: pointer;
}
#viewer-theater-action-icon {
    width: 48px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 12px;
    margin: 0 auto;
}
#viewer-theater-action-caption {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    text-align: center;
}
#viewer-theater-action:hover {
    opacity: 0.8;
}

/* CONTENT */

.gallery {
    position: relative;
    padding-top: 100px;
    margin: 0 auto;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}
.gallery-hidden {
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
}
.item {
    width: 360px;
    height: 240px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background: white;
    padding: 6px;
    margin-bottom: 30px;
    cursor: pointer;
}
.item-shot {
    width: 100%;
    height: 100%;
}
.item-overlay {
    position: absolute;
    top: 6px;
    background: linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 3px;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
}
.item:hover .item-overlay {
    opacity: 0.5;
}
.item-info {
    position: absolute;
    width: calc(100% - 40px);
    background: white;
    bottom: 12px;
    left: 12px;
    padding: 8px;
    border-radius: 3px;
    color: #4c5765;
}
.item-info-head {
    width: 24px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-top: 4px;
}
.item-info-content {
    float: left;
    margin-left: 8px;
}
.item-info-semester {
    float: right;
}
.item-info-name {
    font-size: 16px;
    margin-bottom: 4px;
}
.item-info-major {
    font-size: 12px;
    opacity: 0.75;
}